<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Chargify Direct Signature</title>
  <style type="text/css" media="screen">
    .signature_result {
      border: 1px solid #000;
      background-color: #c0c0c0;
      padding: 20px;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>